<launch>
  <arg name="episode_json" default="/home/jude/Safe_ego_planner/Safe-CTDE-MACE/result/ros_eval/qmix3000_episode.json"/>
  <arg name="metrics_dir" default="/home/jude/Safe_ego_planner/Safe-CTDE-MACE/result/ros_eval"/>
  <arg name="use_rviz" default="true"/>
  <arg name="start_delay" default="2.0"/>

  <include file="$(find ego_planner)/launch/safe_ctde_multi_uav.launch">
    <arg name="episode_json" value="$(arg episode_json)"/>
    <arg name="metrics_dir" value="$(arg metrics_dir)"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="start_delay" value="$(arg start_delay)"/>
  </include>
</launch>
